<div class="row pt-3 d-flex justify-content-center" style="margin-top: 80px; margin-bottom: auto;">
    <div class="col-10">
        <div class="card">
            <div class="card-header text-center">
                Configurations
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        @if (isLoader) {
                        <div class="col-12 text-center">
                            <div class="spinner-border text-primary"></div>
                        </div>
                        } @else {
                        <table class="table table-bordered custom-table">
                            <thead>
                                <tr>
                                    <th>Config Name</th>
                                    <th>Max Capacity</th>
                                    <th>Total Tickets</th>
                                    <th>Ticket Per Release</th>
                                    <th>Release Interval</th>
                                    <th>Tickets Per Retrieval</th>
                                    <th>Retrieval Interval</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (configurationList().length === 0) {
                                <tr>
                                    <td colspan="7" class="text-center"><b>No saved configurations</b></td>
                                </tr>
                                } @else {
                                @for (item of configurationList(); track $index) {
                                <tr>
                                    <td>{{item.name}}</td>
                                    <td>{{item.maxTicketCapacity}}</td>
                                    <td>{{item.totalTickets}}</td>
                                    <td>{{item.ticketsPerRelease}}</td>
                                    <td>{{item.releaseIntervalMilliseconds}}</td>
                                    <td>{{item.ticketsPerRetrieval}}</td>
                                    <td>{{item.retrievalIntervalMilliseconds}}</td>
                                </tr>
                                }
                                }
                            </tbody>
                        </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-3 d-flex justify-content-center">
    <form #form="ngForm" class="col-6">
        <div class="col text-center control-panel-container">
            <h3 class="pt-3 text-center"
                style="border-bottom: 2px solid #000000; padding-bottom: 10px; margin-right: 10%; margin-left: 10%;">
                Event Details</h3>
            <div class="col-10 pb-3 mx-auto">
                <label for="no_vendors" class="m-1">Event Name</label>
                <input type="text" id="event_name" #event_Name="ngModel" name="event_name" required
                    [ngClass]="{'is-invalid': event_Name.invalid && event_Name.touched}" [(ngModel)]="controlPanelObj.eventName"
                    class="form-control m-1"/>
                <div class="text-danger m-0" *ngIf="event_Name.touched">
                    <span *ngIf="event_Name?.errors?.['required']">This is required</span>
                </div>

                <label for="ticket_price" class="m-1">Ticket Price (LKR)</label>
                <input type="number" class="form-control m-1" id="ticket_price" name="ticket_price"
                    #ticket_Price="ngModel" pattern="^(?:[1-9]\d*(?:\.\d{1,2})?|0\.\d{1,2})$" required [(ngModel)]="controlPanelObj.ticketPrice"
                    [disabled]="!(btnFlag === 0)"
                    [ngClass]="{'is-invalid': ticket_Price.invalid && ticket_Price.touched}" />
                <div class="text-danger m-0" *ngIf="ticket_Price.touched">
                    <span *ngIf="ticket_Price?.errors?.['required']">This is required</span>
                    <span *ngIf="ticket_Price?.errors?.['pattern']">Enter a number
                        greater than 0 and maximum of 2 decimals</span>
                </div>
            </div>
            

        </div>
        <div class="row justify-content-center">
            <div class="col-6 text-center control-panel-container">
                <h3 class="pt-3 text-center"
                    style="border-bottom: 2px solid #000000; padding-bottom: 10px; margin-right: 10%; margin-left: 10%;">
                    Load Configuration</h3>
                <div class="col-10 pb-3 mx-auto">
                    <label for="options" class="m-1">
                        <h6>Select Configuration</h6>
                    </label>

                    <select id="options" name="options" class="form-select m-1" [(ngModel)]="controlPanelObj.id"
                        required #selectConfig="ngModel" [disabled]="!(btnFlag == 0)"
                        [ngClass]="{'is-invalid': !isConfigurationSelected && selectConfig.touched}">
                        <option value="0" disabled selected>Select a configuration</option>
                        @for (item of configurationList(); track $index) {
                        <option value="{{item.id}}">{{item.name}}</option>
                        }
                    </select>
                    <div class="text-danger" *ngIf="selectConfig.touched">
                        <span *ngIf="!isConfigurationSelected">This is required</span>
                    </div>
                    <label for="no_vendors" class="m-1">Enter the No. of Vendors</label>
                    <input type="number" class="form-control m-1" id="no_vendors" name="no_vendors"
                        #no_Vendors="ngModel" pattern="^[1-9]\d*$" required [(ngModel)]="controlPanelObj.noOfVendors"
                        [disabled]="!(btnFlag === 0)"
                        [ngClass]="{'is-invalid': no_Vendors.invalid && no_Vendors.touched}" />
                    <div class="text-danger m-0" *ngIf="no_Vendors.touched">
                        <span *ngIf="no_Vendors?.errors?.['required']">This is required</span>
                        <span *ngIf="no_Vendors?.errors?.['pattern']">Enter a number
                            greater than 0</span>
                    </div>

                    <label for="no_customers" class="m-1">Enter the No. of Customers</label>
                    <input type="number" class="form-control m-1" id="no_customers" name="no_customers"
                        #no_Customers="ngModel" pattern="^[1-9]\d*$" required
                        [ngClass]="{'is-invalid': no_Customers.invalid && no_Customers.touched}"
                        [disabled]="!(btnFlag === 0)" [(ngModel)]="controlPanelObj.noOfCustomers" />
                    <div class="text-danger m-0" *ngIf="no_Customers.touched">
                        <span *ngIf="no_Customers?.errors?.['required']">This is required</span>
                        <span *ngIf="no_Customers?.errors?.['pattern']">Enter a number
                            greater than 0</span>
                    </div>
                </div>
            </div>

            <div class="col-5 d-flex flex-column justify-content-center control-panel-container">
                <h4 class="pt-3 text-center">Start/Stop the system</h4>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-primary m-1"
                        [disabled]="btnFlag === 0 ? !form.valid || !isConfigurationSelected: (btnFlag === 2 ? false: true) "
                        (click)="onStart()">{{(btnFlag != 0) ? "Resume" : "Start"}}</button>
                    <button class="btn btn-danger m-1" [disabled]="!(btnFlag === 1)" (click)="onStop()">Stop</button>
                    <button class="btn btn-secondary m-1" [disabled]="!(btnFlag === 2)"
                        (click)="onReset(); form.reset()">Reset</button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-3 control-panel-container" style="margin-top: auto; margin-bottom: auto;">
        <app-ticket-status #ticketStatus (ticketsChanged)="updateProgress($event)"></app-ticket-status>
    </div>
</div>

<div class="control-panel-container mx-auto" style="max-width: 975px;">
    <h5>Ticket Capacity</h5>
    <p style="margin-bottom: 0; text-align: end;">{{progress}}%</p>
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
    <p style="margin-top: 2px; margin-bottom: 0;">{{start}}/{{max}}</p>
</div>
<app-timeline-chart #timelineChart class="mx-auto"></app-timeline-chart>


<app-log-viewer #logViewer></app-log-viewer>