<h1 class="text-center">Save & Edit Configurations</h1>
<div class="row pt-3 d-flex justify-content-center">
    <div class="col-10">
        <div class="card">
            <div class="card-header bg-success text-center">
                Configuration Form
            </div>
            <div class="card-body">
                <form #form="ngForm">
                    <div class="row g-3">
                        <label for="name">Configuration Name: </label>
                        <input type="text" id="name" #nameConf="ngModel" name="name" required
                            [ngClass]="{'is-invalid': nameConf.invalid && nameConf.touched}"
                             [(ngModel)]="configurationObj.name" class="form-control" minlength="4"
                            style="border: 2px solid rgba(0, 0, 0, 0.39); " />
                        <div class="text-danger m-0" *ngIf="nameConf.touched">
                            <span *ngIf="nameConf?.errors?.['required']">This is required</span>
                            <span *ngIf="nameConf?.errors?.['minlength']">Minimum length is 4 characters.</span>
                            <span *ngIf="!isConfigurationNameAvailable">The name is already in saved configurations</span>
                        </div>

                        <label for="max_tickets">Max ticket capacity: </label>
                        <input type="number" id="max_tickets" #max_Tickets="ngModel" name="max_tickets" required
                            [ngClass]="{'is-invalid': max_Tickets.invalid && max_Tickets.touched}"
                            pattern="^[1-9]\d*$" [(ngModel)]="configurationObj.maxTicketCapacity" class="form-control"
                            style="border: 2px solid rgba(0, 0, 0, 0.39); " />
                        <div class="text-danger m-0" *ngIf="max_Tickets.touched">
                            <span *ngIf="max_Tickets?.errors?.['required']">This is required</span>
                            <span *ngIf="max_Tickets?.errors?.['pattern']">Please enter a valid number
                                greater than 0</span>
                        </div>


                        <label for="total_tickets">Total tickets available in the pool:</label>
                        <input type="number" id="total_tickets" name="total_tickets" #total_Tickets="ngModel" required
                            [ngClass]="{'is-invalid': total_Tickets.invalid && total_Tickets.touched || (!isTotalTicketsValid && total_Tickets.touched)}"
                            pattern="^[1-9]\d*$" [disabled]="!max_Tickets.valid" [(ngModel)]="configurationObj.totalTickets"
                            class="form-control" style="border: 2px solid rgba(0, 0, 0, 0.39);" />
                        <div class="text-danger m-0" *ngIf="total_Tickets.touched">
                            <span *ngIf="total_Tickets?.errors?.['required']">This is required</span>
                            <span *ngIf="total_Tickets?.errors?.['pattern']">Please enter a valid
                                number greater than 0</span>
                            <span *ngIf="!isTotalTicketsValid">
                                The value must be less than or equal to {{configurationObj.maxTicketCapacity}}
                            </span>
                        </div>

                        <label for="tickets_per_release">Number of tickets each vendor will release at a time: </label>
                        <input type="number" id="tickets_per_release" name="tickets_per_release"
                            #tickets_Per_Release="ngModel" required pattern="^[1-9]\d*$" [(ngModel)]="configurationObj.ticketsPerRelease"
                            [ngClass]="{'is-invalid': tickets_Per_Release.invalid && tickets_Per_Release.touched || (!isTicketPerReleaseValid &&  tickets_Per_Release.touched)}"
                            [disabled]="!total_Tickets.valid" class="form-control"
                            style="border: 2px solid rgba(0, 0, 0, 0.39);" />
                        <div class="text-danger m-0" *ngIf="tickets_Per_Release.touched">
                            <span *ngIf="tickets_Per_Release?.errors?.['required']">This is required</span>
                            <span *ngIf="tickets_Per_Release?.errors?.['pattern']">Please enter a valid
                                number greater than 0</span>
                            <span *ngIf="!isTicketPerReleaseValid">
                                The value must be less than or equal to {{configurationObj.maxTicketCapacity - configurationObj.totalTickets}}
                            </span>
                        </div>

                        <label for="release_interval">Enter the release interval in
                            milliseconds: </label>

                        <input type="number" id="release_interval" name="release_interval" #release_Interval="ngModel"
                            [ngClass]="{'is-invalid': release_Interval.invalid && release_Interval.touched}"
                            required pattern="^[1-9]\d*$" [disabled]="!tickets_Per_Release.valid"
                            [(ngModel)]="configurationObj.releaseIntervalMilliseconds" class="form-control"
                            style="border: 2px solid rgba(0, 0, 0, 0.39);" />
                        <div class="text-danger m-0" *ngIf="release_Interval.touched">
                            <span *ngIf="release_Interval?.errors?.['required']">This is required</span>
                            <span *ngIf="release_Interval?.errors?.['pattern']">Please enter a valid
                                number greater than 0</span>
                        </div>

                        <label for="tickers_per_retrieval">Number of tickets each customer will attempt to retrieve at a time: </label>
                        <input type="number" id="tickers_per_retrieval" name="tickers_per_retrieval"
                            [ngClass]="{'is-invalid': tickets_Per_Retrieval.invalid && tickets_Per_Retrieval.touched || (!isTicketsPerRetrievalValid && tickets_Per_Retrieval.touched)}"
                            #tickets_Per_Retrieval="ngModel" required [disabled]="!release_Interval.valid"
                            pattern="^[1-9]\d*$" [(ngModel)]="configurationObj.ticketsPerRetrieval" class="form-control"
                            style="border: 2px solid rgba(0, 0, 0, 0.39);" />
                        <div class="text-danger m-0" *ngIf="tickets_Per_Retrieval.touched">
                            <span *ngIf="tickets_Per_Retrieval?.errors?.['required']">This is
                                required</span>
                            <span *ngIf="tickets_Per_Retrieval?.errors?.['pattern']">Please enter a valid
                                number greater than 0</span>
                            <span *ngIf="!isTicketsPerRetrievalValid">
                                The value must be less than or equal to {{configurationObj.maxTicketCapacity}}
                            </span>
                        </div>

                        <label for="retrieval_interval">Enter the retrieval interval in milliseconds: </label>
                        <input type="number" id="retrieval_interval" name="retrieval_interval"
                            #retrieval_Interval="ngModel" required [disabled]="!tickets_Per_Retrieval.valid"
                            [ngClass]="{'is-invalid': retrieval_Interval.invalid && retrieval_Interval.touched}"
                            pattern="^[1-9]\d*$" [(ngModel)]="configurationObj.retrievalIntervalMilliseconds" class="form-control"
                            style="border: 2px solid rgba(0, 0, 0, 0.39);" />
                        <div class="text-danger m-0" *ngIf="retrieval_Interval.touched">
                            <span *ngIf="retrieval_Interval?.errors?.['required']">This is
                                required</span>
                            <span *ngIf="retrieval_Interval?.errors?.['pattern']">Please enter a valid
                                number greater than 0</span>
                        </div>

                        <div class="row pt-3 justify-content-center">
                            <div class="col-3 d-flex justify-content-end">
                                <button class="btn btn-secondary" style="cursor: pointer;"
                                    (click)="form.reset() ;onReset()">Reset</button>
                            </div>
                            <div class="col-3 d-flex justify-content-start">
                                <button class="btn btn-success" style="cursor: pointer;"
                                    [disabled]="!form.valid || !isConfigurationNameAvailable || !isTotalTicketsValid || !isTicketPerReleaseValid || !isTicketsPerRetrievalValid" (click)="onSaveUpdate()">{{configurationObj.id === 0 ? 'Save' : 'Update'}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row pt-3 d-flex justify-content-center">
    <div class="col-11">
        <div class="card">
            <div class="card-header bg-success text-center">
                Saved Configurations
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        @if (isLoader) {
                            <div class="col-12 text-center">
                                <div class="spinner-border text-primary"></div>
                            </div>
                        } @else {
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Config Name</th>
                                        <th>Max Capacity</th>
                                        <th>Total Tickets</th>
                                        <th>Ticket Per Release</th>
                                        <th>Release Interval</th>
                                        <th>Tickets Per Retrieval</th>
                                        <th>Retrieval Interval</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @if (configurationList().length === 0) {
                                    <tr>
                                        <td colspan="9" class="text-center"><b>No saved configurations</b></td>
                                    </tr>
                                } @else {
                                    @for (item of configurationList(); track $index) {
                                    <tr>
                                        <td>{{item.name}}</td>
                                        <td>{{item.maxTicketCapacity}}</td>
                                        <td>{{item.totalTickets}}</td>
                                        <td>{{item.ticketsPerRelease}}</td>
                                        <td>{{item.releaseIntervalMilliseconds}}</td>
                                        <td>{{item.ticketsPerRetrieval}}</td>
                                        <td>{{item.retrievalIntervalMilliseconds}}</td>
                                        <td><button class="btn btn-primary" (click)="onEdit(item)">Edit</button></td>
                                        <td><button class="btn btn-danger" (click)="onDelete(item.id)">Delete</button></td>
                                    </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

