<nav class="navbar navbar-expand-sm navbar-dark" [ngClass]="{'scrolled': isScrolled}">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" >
            <a class="nav-link active" routerLink="/configuration-form" routerLinkActive="active">Configuration Form</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/control-panel" routerLinkActive="active">Control Panel</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
<div class="container pt-1">
    <router-outlet></router-outlet>
</div>
