<div class="status-container">
    <h3 style="border-bottom: 2px solid black; padding-bottom: 5px;">System Status</h3>
    <div *ngIf="ticketStatus; else loading">
      <p><strong>Tickets in Pool:</strong> {{ ticketStatus.ticketsInPool }}</p>
      <p><strong>Sold Out Tickets:</strong> {{ ticketStatus.soldOutTickets }}</p>
      <p><strong>Total Tickets to be Sold Out:</strong> {{ ticketStatus.toBeSoldOutTickets }}</p>
      <p><strong>Ticket Sales (LKR):</strong> {{ ticketStatus.ticketSales }}</p>
    </div>
    <ng-template #loading>
      <p style=" font-size: 20px;">System has not started yet!</p>
    </ng-template>
  </div>
